body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    background-color: #232f3f;
    color: #f49714;
}

h1{
    margin-bottom: 0cm;
}